{% extends "nav.html" %}
{% load staticfiles %}

{% block movieDetail %}

<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1> {{ movie.movieTitle }} </h1>
      </div>
      <hr></hr>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="container-fluid">
          <div class="row embed-responsive embed-responsive-16by9" style= "margin-left:50px;margin-right:50px;">
            <iframe class="embed-responsive-item" src="{{ movie.trailerUrl }}" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <br><br><br>
        <p>Genre: {{movie.genres.0.genreName}}</p>
        <p>Release Date: {{movie.releaseDate}}</p>
        <p>MPAA Rating: {{movie.mpaaRating}}</p>
        <p>Length: {{movie.length}} minutes</p>
        <p>Director: {% for d in movie.directors %}d, {% endfor %}</p>
        <p>Director: {% for d in movie.characters %}d, {% endfor %}</p>
        <p>Review: {{movie.stars}} stars</p>
        <p>Description: {{movie.movieDesc}}</p>
      </div>
    </div>  
    <div class="row">
        <hr/>
        <h3>How do you like the movie?</h3>
        <form method="POST" class="review-form" id="review-form" action="/post-review/{{movie.movieId}}">
          {% csrf_token %}
          <div class="form-group">
              <label for="stars"></label>
              Rating <input type="number" name="stars" id="stars" min="1" max="5"/>
            </div>
          <div class="form-group">
            <label for="reviewTitle"></label>
            <input type="text" style="width: 100%" name="reviewTitle" id="reviewTitle" placeholder="Review Title"/>
          </div>
          <div class="form-group">
            <label for="comment"></label>
            <textarea style="width: 100%" name="comment" id="comment" placeholder="I think the movie is..."></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="submitReview" id="submitReviewn" class="form-submit" value="Submit"/>
          </div>
        </form>
        <div class="review-block">
          {% for review in reviews %}
          <div class="row">
            <div class="col-sm-3">
              <img src="https://dummyimage.com/60x60/666/ff5e00&text=MC" class="img-rounded">
              <div class="review-block-name">{{ review.user.username }}</div>
              <div class="review-block-date">{{ review.postDate }}</div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                {% for s in review.stars %}
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% endfor %}

                {% for n in review.nostars %}
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% endfor %}
              </div>
              <div class="review-block-title">{{ review.reviewTitle }}</div>
              <div class="review-block-description"> {{ review.comment }} </div>
            </div>
          </div>
          <hr/>
          {% endfor %}
        </div>
    </div>
  </div>
</section>
<hr></hr>
{% endblock %}
