{% extends "nav.html" %}
{% load staticfiles %}

{% block movieDetail %}

<section>
  <div class="row">
    <div class="text-center">
      <h1> {{ data.movieTitle }} </h1>
    </div>
    <hr></hr>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="container-fluid">
        <div class="row embed-responsive embed-responsive-16by9" style= "margin-left:50px;margin-right:50px;">
          <iframe class="embed-responsive-item" src="{{ data.trailerUrl }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <br><br><br>
      <p>Genre: {{data.genres.0.genreName}}</p>
      <p>Release Date: {{data.releaseDate}}</p>
      <p>MPAA Rating: {{data.mpaaRating}}</p>
      <p>Length: {{data.length}} minutes</p>
      <p>Director: {% for d in data.directors %}d, {% endfor %}</p>
      <p>Director: {% for d in data.characters %}d, {% endfor %}</p>
      <p>Review: {{data.stars}} stars</p>
      <p>Description: {{data.movieDesc}}</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
  </div>
  <hr></hr>
</section>

{% endblock %}
