{% extends "nav.html" %}
{% load staticfiles %}

{% block movies %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<div class="container">
<section>
  <div class="container-fluid">
    <h1> Movies </h1>
  </div>
  <hr></hr>
  <div class="container-fluid">
    <div class="input-group">
      <div class="search-container input-group-addon">Name</div>
      <input type="text" class="form-control search" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div>
  </div>
  <div class="container-fluid">
    <ul id="data" class="list-unstyled" style="width:100%; border-collapse:separate; border-spacing: 0 1.5em;">
      {% for d in data %}
          <li>
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="poster col-lg-2 col-md-2 col-sm-2">
                <a href='/movie-detail/{{ d.movieId }}'>
                  <img class="img-responsive" src="{{ d.coverImageUrl }}" height="10%"  ></img>
                  <h4 id='title'> {{d.movieTitle}}</h4>
                </a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2"></div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <p id="genre">Genre: {{d.genre}}</p>
                <p id="date">Release Date: {{d.releaseDate}}</p>
                <p>MPAA Rating: {{d.mpaaRating}}</p>
                <p>Length: {{d.length}} minutes</p>
                <p>Director: {% for da in d.directors %}da, {% endfor %}</p>
                <p>Director: {% for da in d.characters %}da, {% endfor %}</p>
                <p>Review: {{d.stars}} stars</p>
                <p>Description: {{d.movieDesc}}</p>
                <p>Type:
                  {% if d.movie_type == 1%} Free to all {% endif %}
                  {% if d.movie_type == 2%} Sub only {% endif %}
                  {% if d.movie_type == 3%} Pay per view {% endif %}
                  {% if d.movie_type == 4%} Paid {% endif %}
                </p>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
          </li>
      {% endfor %}
    </ul>
    <div class="container-fluid" id="pag"></div>
  </div>
  <hr></hr>
</section>
</div>

<script src="{% static 'javascript/paging.js' %}"></script>
<script>
  pag('#data','#pag',false);
</script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("data");
  li = ul.getElementsByTagName('li');
  for (i = 0; i < li.length; i++) {
    li[i].id = "";
  }
  if( input.value.length == "" ) {
    pag('#data','#pag',false);
  }
  else {
    for (i = 0; i < li.length; i++) {
        h4 = li[i].getElementsByTagName("h4")[0];
        txtValue = h4.textContent || h4.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].id = "target";
        } else {
            li[i].id = "";
        }
    }
    pag('#data','#pag',true);
  }
}
</script>

{% endblock %}
