{% extends "nav.html" %}
{% load staticfiles %}

{% block movies %}
<section>
  <div class="container-fluid">
    <h1> Movies </h1>
  </div>
  <hr></hr>
  <div class="container-fluid">
    <div class="input-group">
      <div class="input-group-addon">Name</div>
      <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </div>
  </div>
  <div class="container-fluid">
    <table id="data" class="table-hover" style="width:100%; border-collapse:separate; border-spacing: 0 1.5em;">
      {% for d in data %}
        {% if forloop.counter|add:"-1"|divisibleby:3 %}
          <tr>
        {% endif %}
          <td align="center" width="20%">
            <div class="poster">
              <a href='/movie-detail/{{ d.movieId }}'>
                <img class="img-responsive" src="{{ d.coverImageUrl }}" ></img>
              </a>
            </div>
          </td>
        {% if forloop.counter|divisibleby:3 %}
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <div class="container-fluid" id="pag"></div>
  </div>
  <hr></hr>
</section>
<script src="{% static 'javascript/paging.js' %}"></script>
{% endblock %}
