<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Movie Central</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> MC Home</a>
      </li>
      {% if user %}
      <li>
        <a href="/movies"><span class="glyphicon glyphicon-film"></span> Movies</a>
      </li>
      <li>
        <a href="/customers"><span class="glyphicon glyphicon-info-sign"></span> Customers</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-briefcase"></span> Reports <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/reports">Revenue</a></li>
          </ul>
      </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if not user %}
		<li class="navbar-right">
			<a href="/login"><span class="glyphicon glyphicon-user"></span> Login/Register</a>
    </li>
    {% else %}
		<li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-off"></span> Log Out</a>
    </li>
		<li class="navbar-right">
      <a href="/customer-detail"><span class="glyphicon glyphicon-user"></span> Profile</a>
    </li>
    {% endif %}
    </ul>
  </div>
</nav>

{% if messages %}
<div class="container">
  <div id="msgbox" class="alert alert-info" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
</div>
{% endif %}

{% block home %}{% endblock %}
{% block customers %}{% endblock %}
{% block customerDetail %}{% endblock %}
{% block movies %}{% endblock %}
{% block movieDetail %}{% endblock %}
{% block login %}{% endblock %}
{% block reports %}{% endblock %}


</body>
<!-- <footer class="page-footer font-small black pt-4">
  <p>MovieCentral 2018</p>
</footer> -->
<!-- Footer -->
<!-- <footer class="footer"> -->
  <!-- Copyright -->
  <div class="footer">© 2018 Copyright:
    <a href="https://sleepy-shore-81319.herokuapp.com/"> MovieCentral</a>
  </div>
  <!-- Copyright -->
<!-- </footer> -->
<!-- Footer -->

</html>
