{% extends "nav.html" %}
{% load staticfiles %}

{% block profile %}

<div class="container">
	<div class="row">
       <div class="col-md-5 ">
		<div class="panel panel-default">
  			<div class="panel-heading"> <h4 >User Profile</h4></div>
   			<div class="panel-body">
				<div class="box box-info">
					<div class="box-body">
						<form method="POST" action="/customer/edit/{{user.userId}}">
						{% csrf_token %}
						<div class="col-sm-6">Username:
							<h4 style="color:orange;">
								<input type="text" name="username" id="username" value="{{user.username}}"/>
							</h4>
							{% if user.role is 2 %}
							<span><p style="color:orange;">Admin</p></span>
							{% endif %}
						</div>
						<div class="clearfix"></div>
						<hr style="margin:5px 0 5px 0;">

						<div class="col-sm-5 col-xs-6 tital " >Password:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="password" name="password" id="password" value="{{user.password}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >First Name:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="firstName" id="firstName" value="{{user.firstName}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Last Name:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="lastName" id="lastName" value="{{user.lastName}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Street:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="street" id="street" value="{{user.street}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >City:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="city" id="city" value="{{user.city}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >State:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="state" id="state" value="{{user.state}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Zipcode:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="zipcode" id="zipcode" value="{{user.zipcode}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Phone:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="phone" id="phone" value="{{user.phone}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Email:</div>
						<div class="col-sm-7 col-xs-6 ">
							<input type="text" name="email" id="email" value="{{user.email}}"/>
						</div>
						<div class="clearfix"></div>
						<div class="bot-border"></div>

						<div class="col-sm-5 col-xs-6 tital " >Subscription Expires:</div><div class="col-sm-7">{{user.subexpiredate}}</div>
						<div class="form-group">
							<input type="submit" class="form-submit" value="Update"/>
						</div>
						</form>
					</div>
				</div>
    		</div>
		</div>
	</div>
	{% if 'sjsu.edu' in user.email %}
		<div class="col-md-7">
			<div class="panel panel-default">
	  			<div class="panel-heading"> <h4 >Add Movie</h4></div>
	   			<div class="panel-body">
					<div class="box box-info">
						<div class="box-body">
							<form method="POST" action="/addmovie/">
							{% csrf_token %}
							<div class="clearfix"></div>
							<hr style="margin:5px 0 5px 0;">
							
							<div class="col-sm-5 col-xs-6 tital ">Movie Title</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="movieTitle" id="movieTitle"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Movie Type</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="radio" name="movie_type" id="movie_type" value="1"/>Free to All<br>
								<input type="radio" name="movie_type" id="movie_type" value="2"/>Subscription Only<br>
								<input type="radio" name="movie_type" id="movie_type" value="3"/>Pay Per View<br>
								<input type="radio" name="movie_type" id="movie_type" value="4"/>Paid<br>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Country</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="country" id="country"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Cover Image Url</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="coverImageUrl" id="coverImageUrl"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Length</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="length" id="length"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Movie Description</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="movieDesc" id="movieDesc"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">MPAA Rating</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="radio" name="mpaaRating" id="mpaaRating" value="1"/>G<br>
								<input type="radio" name="mpaaRating" id="mpaaRating" value="2"/>PG<br>
								<input type="radio" name="mpaaRating" id="mpaaRating" value="3"/>PG-13<br>
								<input type="radio" name="mpaaRating" id="mpaaRating" value="4"/>R<br>
								<input type="radio" name="mpaaRating" id="mpaaRating" value="5"/>NC-17<br>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Release Date</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="releaseDate" id="releaseDate"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Studio</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="studio" id="studio"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="col-sm-5 col-xs-6 tital ">Trailer Url</div>
							<div class="col-sm-7 col-xs-6 ">
								<input type="text" name="trailerUrl" id="trailerUrl"/>
							</div>
							<div class="clearfix"></div>
							<div class="bot-border"></div>

							<div class="form-group">
								<input type="submit" class="form-submit" value="Submit"/>
							</div>
							</form>
						</div>
					</div>
	    		</div>
			</div>
		</div>
	{% endif %}
  </div>
</div>
{% endblock %}
