{% extends "nav.html" %}
{% load staticfiles %}

{% block topten %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div class="container">
<section>
  <div class="container-fluid">
    <h1> Top 10 active users </h1>
  </div>
  <hr></hr>
  <div class="center-block chart-container" style="position: relative; height:2vh; width:40vw">
    <canvas id="lastday"></canvas>
    <canvas id="lastweek"></canvas>
    <canvas id="lastmonth"></canvas>
  </div>
</section>
</div>

<script>
  var ctx = document.getElementById('lastday').getContext('2d');
  var l = {{ day.id|safe }};
  var d = {{ day.counts|safe }};
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: l,
        datasets: [{
            label: "Last 24 hours",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: d,
        }],
    },
    options: {
      responsive: true,
      scales: {
        yAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'Viewing count'
              },
            ticks: {
                beginAtZero: true,
                suggestedMax: 10
            }
          }],
        xAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'User id'
              }
          }]
      }
  }
});
</script>
<script>
  var ctx = document.getElementById('lastweek').getContext('2d');
  var l = {{ week.id|safe }};
  var d = {{ week.counts|safe }};
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: l,
        datasets: [{
            label: "Last week",
            backgroundColor: 'rgb(56,216,113)',
            borderColor: 'rgb(56,216,113)',
            data: d,
        }],
    },
    options: {
      responsive: true,
      scales: {
        yAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'Viewing count'
              },
            ticks: {
                beginAtZero: true,
                suggestedMax: 10
            }
          }],
        xAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'User id'
              }
          }]
      }
  }
});
</script>
<script>
  var ctx = document.getElementById('lastmonth').getContext('2d');
  var l = {{ month.id|safe }};
  var d = {{ month.counts|safe }};
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: l,
        datasets: [{
            label: "Last month",
            backgroundColor: 'rgb(244,214,130)',
            borderColor: 'rgb(244,214,130)',
            data: d,
        }],
    },
    options: {
      responsive: true,
      scales: {
        yAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'Viewing count'
              },
            ticks: {
                beginAtZero: true,
                suggestedMax: 10
            }
          }],
        xAxes: [{
            scaleLabel: {
                  display: true,
                  labelString: 'User id'
              }
          }]
      }
  }
});
</script>


{% endblock %}
