{% extends "nav.html" %}
{% load staticfiles %}

{% block toptenrating %}
<div class="container">
	<h1> Top Ten Rated Movies</h1>
	<hr></hr>
	<div class="row">
		<table class="table table-hover">
		<thead>
			<th>Rank</th>
			<th>Movie Name</th>
			<th>Average Rating</th>
		</thead>
		{% for review in reviews %}
		<tr>
			<td>{{ forloop.counter }} </td>
			<td>{{review.movie.movieTitle}}</td>
			<td>
				{% for s in review.stars %}
				<button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</button>
				{% endfor %}

				{% for n in review.nostars %}
				<button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				</button>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}